@font-face {
    font-family: 'Kollektif';
    src: url('Kollektif.woff2') format('woff2'),
        url('Kollektif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: url('Kollektif-BoldItalic.woff2') format('woff2'),
        url('Kollektif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kollektif';
    src: url('Kollektif-Italic.woff2') format('woff2'),
        url('Kollektif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kollektif';
    src: url('Kollektif-Bold.woff2') format('woff2'),
        url('Kollektif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

